<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Данные успешно переданы</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap" rel="stylesheet">
    <meta http-equiv="refresh" content="3;URL=https://t.me/AdMetrics_Bot" />
</head>

<body>

<style>
    .my-text {
        font-size: calc(4vh + 4vmin);
        line-height: 1.2;
        height: 98vh;
        width: 100vw;
        text-align: center;
        min-height: 10em;
        display: table-cell;
        vertical-align: middle;
        font-family: 'Montserrat', sans-serif;
    }

</style>

<div class="my-text">
    Произошла ошибка.  <br>переадресация...
</div>

</body>

</html>
